{%extends "base.html"%}
{% block content %}
<div class="container">
    <link rel="stylesheet" href="//codeforces.org/s/64440/css/font-awesome.min.css" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="//codeforces.org/s/64440/css/line-awesome.min.css" type="text/css" charset="utf-8">
    <link href="//fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&amp;subset=latin,cyrillic" rel="stylesheet"
          type="text/css">
    <div class="ttypography">
        <div class="problem-statement">
            <div class="header">
                <h1>{{task.name}}</h1>
            </div>
            <div><p>{{task.description}}</p></div>
            <div class="input-specification">
                <div class="section-title"><h3>Входные данные</h3></div>
                <p>
                    {{task.input}}
                </p></div>
            <div class="output-specification">
                <div class="section-title"><h3>Выходные данные</h3></div>
                <p>{{task.output}}</p></div>
            <div class="sample-tests">
                <div class="section-title"><h3>Пример</h3></div>
                <div class="sample-test">
                    <div class="input">
                        <div class="title"><h5>Входные данные</h5>
                        </div>
                        <pre id="id0011991378515132811">{{task.input_data}}</pre>
                    </div>
                    <div class="output">
                        <div class="title"><h5>Выходные данные</h5>
                        </div>
                        <pre id="id0039467846526047357">{{task.output_data}}</pre>
                    </div>
                </div>
            </div>
        </div>
        <p></p></div>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            <br>
            {{ form.code(class="form-control") }}<br>
            {% for error in form.code.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        {{ message }}
    </form>
</div>
{%endblock%}